body{
    background-image: url(fondo\ de\ historias.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
    .navbar ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-weight: 600;
        padding: 15px;
    }

    li a:hover{
        background: rgb(144, 176, 212);
        transition: 0.5s;

    }
.texto{
    text-align: center;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250%;
}
.cancion1{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px;
}
.cancion2{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px;
}
.cancion3{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px; 
}
.cancion4{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px;
}

.cancion5{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px;
}


.cancion6{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px;
}

.cancion7{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px; 
}


.cancion8{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px;
}


.cancion9{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px;
}
.cancion10{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px;
}
.cancion11{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px;
}
.cancion12{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-right: 15px;
}