
body{
    background-image: url(fondo\ de\ historias.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.texto{
    text-align: center;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
}

.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
    .navbar ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-weight: 600;
        padding: 15px;
    }

    li a:hover{
        background: rgb(144, 176, 212);
        transition: 0.5s;

    }

.btn1{
   
    width: 350px;
    height: 200px;
    border-radius: 45px;
    margin-right: 30px;
   
}

.btn2{
   
    width: 350px;
    height: 200px;
    border-radius: 45px;
    margin-right: 30px;
   
}

.btn3{
   
    width: 350px;
    height: 200px;
    border-radius: 45px;
    margin-right: 30px;
   
}

.btn4{
   
    width: 350px;
    height: 200px;
    border-radius: 45px;
    margin-right: 30px;
   
}
.btn5{
   
    width: 350px;
    height: 200px;
    border-radius: 45px;
    margin-right: 30px;
   
}

.btn6{
   
    width: 350px;
    height: 200px;
    border-radius: 45px;
    margin-right: 30px;
   
}

