.contenedor{
    display: flex;
    justify-content: center;
}
.img1{
    width: 650px;
    height: 350px;
}
.img2{
    width: 450px;
    height: 350px;
    border-radius: 300px;
}
.img3{
    width: 450px;
    height: 350px;
    border-radius: 300px;

    }
    .img4{
        width: 650px;
        height: 350px;
        
        }
        .img5{
            width: 650px;
            height: 350px;
            

            }
            
        .img6{
            width: 650px;
            height: 350px;
            border-radius: 300px;
        }
        .img7{
            width: 650px;
            height: 350px;
            border-radius: 300px;
        }
        .img8{
            width: 650px;
        height: 350px;
        
        }
        .img9{
            width: 650px;
            height: 350px;
            
        }
        .img10{
            width: 650px;
            height: 350px;
            border-radius: 300px;
        }
        .img11{
            width: 650px;
            height: 350px;
            border-radius: 300px;
        }
        .img12{
            width: 650px;
            height: 350px;
            

            }