.david1{
    text-align: left;
}
.david2{
    text-align: right;
}
.david3{
    text-align: left;
}
.david4{
    text-align: right;
}
.david5{
    text-align: left;
}
.david6{
    text-align: right;
}